body {
	text-align: center;
	background-color: #CCDDFF;
	margin: 0;
	padding: 0;
	/*background-color: #7E9BE5;*/
}
#wrapper {
	margin: auto;
	padding: 0 10px 0 10px;
	width: 800px;
	min-height: 400px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: justify;
}
#header {
	background: url('../images/header.gif') left top no-repeat;
	height: 150px;
	padding: 0;
	margin: 0;
}
#footer {
	padding: 10px 0 20px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #6677FF;
}
#footer hr {
	height: 2px;
	color: #CCDDFF;	
	border-color: #CCDDFF;
	background-color: #CCDDFF;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #000066;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #000066;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #000066;
}
img {
	border: 0;
	padding: 0;
	margin: 0;
}
.top-line {
	text-align: right;
	font-size: 8pt;
}
.in-text-image {
	vertical-align: middle;
}
a {
	text-decoration: none;
	color: #0000FF;
}
a:hover {
	text-decoration: underline;
	color: #0000FF;
}
